@model GiderTakipSistemi.Models.GiderFis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GiderFis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiderKalem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiderKalem.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CariKayit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CariKayit.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
